body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #666cb3;
}

.App {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.search {
  font-size: 1.2rem;
  border: 2px solid #22254b;
  color: #fff;
  border-radius: 50px;
  background-color: transparent;
  padding: 5px 15px;
}
.search:focus {
  outline: 0;
}

.header {
  background-color: #373b69;
  margin-bottom: 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: flex-end;
}
.movie-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 30px;
  padding: 0 35px;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .movie-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
.movie {
  background-color: #373b69;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.movie-info {
  display: flex;
  padding: 17px;
  justify-content: space-between;
  align-items: center;
}
.movie-info h3 {
  font-size: 16px;
  font-weight: normal;
}
.movie img {
  max-width: 100%;
}
.vote-agerage {
  background-color: rgb(36 115 153 / 80%);
  padding: 5px;
  border-radius: 5px;
}
.movie-over {
  padding: 7px;
  background-color: white;
  color: #373b69;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.movie:hover .movie-over {
  transform: translateX(0%);
}
